@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --accent: 152 19 22;

    --bg: 16 16 16;
    --card: 32 32 32;
    --btn: 255 255 255;
    --btn-hover: 230 230 230;
    --btn-text: 20 20 20;

    --text-primary: 229 229 229;
    --text-secondary: 179 179 179;
    --border: var(--accent);
    --shadow: 222 222 222;
  }

  [data-theme="light"] {
    --bg: 245 245 245;
    --card: 255 255 255;
    --btn: 70 70 70;
    --btn-hover: 140 140 140;
    --btn-text: 235 235 235;
    --menu: 215 215 215;

    --text-primary: 24 24 24;
    --text-secondary: 96 96 96;
    --shadow: 194 194 194;
  }

  [data-theme="dark"] {
    --bg: 0 0 0;
    --card: 38 38 38;
    --btn: 255 255 255;
    --btn-hover: 220 220 220;
    --btn-text: 20 20 20;
    --menu: 80 80 80;

    --text-primary: 229 229 229;
    --text-secondary: 179 179 179;
    --shadow: 222 222 222;
  }
}

html {
  direction: rtl;
}

body {
  font-family: "Noto Sans Arabic", "Tajawal", system-ui, sans-serif;
  background-color: rgb(var(--bg));
  color: rgb(var(--text-primary));
  line-height: 1.6;
}

.case_card {
  background-color: rgb(var(--card));
}

.btn {
  cursor: pointer;
  background-color: rgb(var(--btn));
  color: rgb(var(--btn-text));
}

.btn:hover {
  background-color: rgb(var(--btn-hover));
}

.menu {
  background-color: rgb(var(--card));
}

.menu:hover {
  background-color: rgb(var(--menu));
}
